@import "./normalize.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a, a:visited, a:hover, a:active, a:-webkit-any-link {color: "#fff" !important;}
